 h1 {
    color: red;
    width: 50%;
    margin: 5% auto;
    text-decoration: underline;
} 
/*
body {

}*/
    
main {
    width: 60%;
    margin: 5%;
    color: green;
}

main {
    width: 60%;
    margin: 5%;
    color: blue !important;
}

article {
    margin: 1% auto;
    border: 3px dotted blue;
    background: yellow;
    width: 80%;
}

article > h3 {
    font-size: 15cm;
}

h2:hover {
    color: green;
}

article:hover:first-letter {
    color: red;
}

p:hover:first-letter {
    background-color: red;
}

h3 {
    font-size: 2cm;
    color: purple;
    text-decoration: underline wavy red;
}