
* {
  box-sizing: border-box;
}

head {
  grid-template-rows: 15%;
}

body {
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 80%;
  grid-template-areas: "header header";
  background-image: url(background2.jpg);
  background-size: cover;
}


.container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  height: 100%;
}

div.a {
  text-align: left;
  height: 75%;
  width: 100%
}


header {
  grid-area: header;
  font-size: 50px;
  text-align: center;
  height: 75px;
}


html {
    font-size: 88.5%;
    box-sizing: border-box;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.calculator {
    border: 1px solid #ccc;
    border-radius: 5px;  
  }

  .calculator-screen {
    width: 100%;
    font-size: 5rem;
    height: 80px;
    border: none;
    background-color: #252525;
    color: #fff;
    text-align: right;
    padding-right: 20px;
    padding-left: 10px;
  }

  button {
    height: 60px;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #c4c4c4;
    background-color: transparent;
    font-size: 2rem;
    color: #333;
    background-image: linear-gradient(to bottom,transparent,transparent 50%,rgba(0,0,0,.04));
    box-shadow: inset 0 0 0 1px rgba(255,255,255,.05), inset 0 1px 0 0 rgba(255,255,255,.45), inset 0 -1px 0 0 rgba(255,255,255,.15), 0 1px 0 0 rgba(255,255,255,.15);
    text-shadow: 0 1px rgba(255,255,255,.4);
  }
  
  button:hover {
    background-color: #eaeaea;
  }
  
  .operator {
    color: #337cac;
  }
  
  .all-clear {
    background-color: #f0595f;
    border-color: #b0353a;
    color: #fff;
  }
  
  .all-clear:hover {
    background-color: #f17377;
  }
  
  .equal-sign {
    background-color: #2e86c0;
    border-color: #337cac;
    color: #fff;
  }
  
  .equal-sign:hover {
    background-color: #4e9ed4;
  }

  .calculator-keys {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .calculator {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .clock {
    grid-column: 2/2;
    grid-row: 1/3;
  }

  h1 {
    font-size: 30px;
    height: 25px;
    text-decoration: underline;
  }

  .todo {
    grid-column: 2/3;
    grid-row: 2/3;
    height: 50vh;
    width: 10vw;
    margin: auto;
  }

  ul {
    font-size: 17px;
  }

    *, *:after, *:before {
  box-sizing border-box
  color #3E434F
  font-family "Roboto"
  list-style none
  margin 0
  padding 0
  text-decoration none
  transition all .2s
    }
  
::selection
  background #50E3A4
  color #fff

::-moz-selection
  background #50E3A4
  color #fff
  
body
  background #F0EFE9
  height 100vh
  width 100vw
  
.btn
  }

  /* Extra Small and up (Portrait Phones) */

/* Small and up (Landscape Phones) */
@media (max-width: 576px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-areas: 
    "main"
    "nav"
  }

  list ul{
    display: flex;
    flex-direction: column;

  }

  header {
    font-size: 10px;
  }

}

/* Medium and up (Tablets) */
@media (max-width: 768px) {

}

/* Large and up (Desktops) */
@media (max-width: 992px) {

}

/* Extra Large and up (Wide Screen Desktops) */
@media (max-width: 1200px) {

}


