body {
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    margin: 0;
}

img {
    height: 50px;
    width: 50px;
}
    

.item-1 {
    grid-area: head;
}

.item-2 {
    grid-area: main;
}

.item-3 {
    grid-area: article;
}

.item-4 {
    grid-area: footer;
}



.container {
    display: grid;
    grid-template-rows: 100px 100px 100px 100px;
}







