
* {
  box-sizing: border-box;
}

/* you don't style the head secton */

/*head {
  grid-template-rows: 15%;
}
*/

html {
  font-size: 88.5%;
  box-sizing: border-box;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  grid-template-areas: "header header";
  background-image: url(../images/background2.jpg);
  background-size: 1500px 1500px;
}

header {
  font-size: 60px;
  text-align: center;
  font-style: oblique;
  color: blue;
  text-shadow: 1px 1px #000;
}

.calculator {
  /*border: 2px solid yellow;
  border-radius: 5px;*/ 
}

.calculator-screen {
  width: 202px;
  font-size: 5rem;
  height: 70px;
  border: 5px solid red;
  background-color: #252525;
  color: #fff;
  text-align: right;
  padding-right: 20px;
  padding-left: 10px;
}

button {
  height: 60px;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #c4c4c4;
  background-color: transparent;
  font-size: 2rem;
  color: #333;
  background-image: linear-gradient(to bottom,transparent,transparent 50%,rgba(0,0,0,.04));
  box-shadow: inset 0 0 0 1px rgba(255,255,255,.05), inset 0 1px 0 0 rgba(255,255,255,.45), inset 0 -1px 0 0 rgba(255,255,255,.15), 0 1px 0 0 rgba(255,255,255,.15);
  text-shadow: 0 1px rgba(255,255,255,.4);
}

button:hover {
  background-color: #eaeaea;
}

.operator {
  color: #337cac;
}

.all-clear {
  background-color: #f0595f;
  border-color: #b0353a;
  color: #fff;
}

.all-clear:hover {
  background-color: #f17377;
}

.equal-sign {
  background-color: #2e86c0;
  border-color: #337cac;
  color: #fff;
}

.equal-sign:hover {
  background-color: #4e9ed4;
}

.calculator-keys {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 200px;
  position: absolute;
  left: 290px;
  border: 2px solid red;
}


.container {
  /*display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 33.33% 33.33% 33.33%;
  grid-template-areas: 
                     "calculator todo"
                     "clock Hanoi"
                     ". stress";*/
  height: 550px;
  /*width: 800px;*/
  background-color: #4e9ed4;
  position: absolute;
  right: 120px;
} 

div.a {
  /*text-align: left;
  height: 75%;
  width: 100% */
} 


  .calculator {
    grid-column: 1/2;
    grid-row: 1/3;
  } 

  .clock {
    grid-column: 1/2;
    grid-row: 2/3;
    /*margin: auto;
    position: absolute;
    left: 70px;*/
    padding: 90px;
    border: 2px solid yellow;
    border-radius: 20px;
  }

  

  h1 {
    font-size: 10px;
    height: 25px;
    text-decoration: underline;
  } 

  h2 {
    font-size: 70px;
    /*text-align: center;*/
    height: 20px;
    font-family: fantasy;
  }

  h3 {
    font-size: 50px;
  }

  h4 {
    font-size: 40px;
    font-family: fantasy;
  }

  .todo {
    grid-column: 2/2;
    grid-row: 1/3;
    height: 50vh;
    margin: 0;
    /*margin-left: 90px;*/
  }

  .tower {
    background-color: #000;
    height: 300px;
    padding: 3px;
    border: 2px solid yellow;
  }

  /* jQuery To Do List Styles */
#list_section {
  text-align: center;
}

h1 {
  /*color: white;
  margin: 0px auto;
  padding: 20px;*/
}

ul {
  padding: 0;
}

li {
  background-color: #fff;
  color: #000;
  font-size: 20px;
  list-style-type: none;
  width: 80%;
  margin: 0px auto;
  border-radius: 3px;
  border: 1px solid #000;
  padding: 10px;
  margin-bottom: 10px;
}

p {
  background-color: #fff;
  color: #666;
  padding: 10px;
  display: inline-block;
  margin: 20px auto 20px auto;
  width: 80%;
  border-radius: 5px;
  text-align: center;
}

.item {
  background-color: #fff;
  color: #000;
}

#newItemButton {
  display: none;
}

form input.inputtodo[type='submit'] {
  background-color: #fff;
  color: #000;
  border-radius: 8px;
  border: none;
  padding: 7px 20px;
}

form input.inputtodo[type='text']  {
  font-size: 16px;
  padding: 6px;
  border: 1px solid #000;
  border-radius: 3px;
}

#inputtodo {
  margin-top: 40px;
  margin-left: 20px;
  width: 60%;
  font-size: 20px;
}


.section {
  padding:5px 30px 30px 30px;
  margin:30px;
  /*border:solid yellow 5px;*/
  border-radius:15px;
  /*background-color:#e6e6e6;*/
  text-align:center;
  height: 1300px;
  /*width: 450px;*/
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 33.33% 33.33% 33.33%;
  grid-template-areas: 
                     "calculator todo"
                     "clock Hanoi"
                     "stress .";
}

.btn-success {
  width:100px;
}

body {
  background-color: aquamarine;
}

.btn  {
  background-color: blueviolet;
  color: yellow;
}

.btn-primary {
  width: 375px;
}

table {
  margin: auto;
  color: yellow;
}



  /* Define Grid Areas */
  header {
    grid-area: header;
  }

  .calculator {
    grid-area: calculator;
  }

  .clock {
    grid-area:clock;
  }

  .stress {
    grid-area: stress;
  }

  .todo {
    grid-area: todo;
  }

  .Hanoi {
    grid-area: Hanoi;
  }

  

  

  @media(min-width:320px){
    .container{
      display:grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas:
      "header"
      "calculator"
      "clock"
      "todo";
    }
  
  }


  @media (max-width: 576px) {

  header {
    font-size: 10px;
    height: 10px;
  }

  .calculator-screen {
    height: 60px;
  }

  .calculator-keys [
    height: 250px;
  ]

  h1 {
    font-size: 15px;
    height: 5px;
  }

  .todo {
    height: 25vh;
  }

  ul {
    font-size: 1px;
  }

  body {
    height: 30vh;
  }

}


/* Extra Small and up (Portrait Phones) */
@media only screen and (max-width : 320px) {

    .container{
      display:grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas:
      "header"
      "calculator"
      "clock"
      "todo";
    }
  
  

  
  header {
  font-size: 25px;
  height: 10px;
  }

  .calculator-screen {
    height: 60px;
  }

  .calculator-keys {
    height: 250px;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-areas: 
    "header header"
    "calculator clock"
    "calculator clock"
    "calculator clock"
    ". todo"
    ". todo";
  }

  .todo {
    grid-area: todo;
    height: 50vh;
    margin: auto;
    /*margin-left: 90px;*/
  }

  header {
    grid-area: header;
  }

  .clock {
    grid-area: clock;
  }

  .calculator {
    grid-area: calculator;
  }

  
    h1 {
      font-size: 20px;
      height: 5px;
    }

    ul {
     font-size: 20px;
    }

    body {
      height: 30vh;
    }


} 

/* Small and up (Landscape Phones) */


/* Medium and up (Tablets) */
@media (max-width: 768px) {

  @media(min-width:768px)
    .container{
      display:grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1% 45% auto;
      grid-template-areas: 
      "header header"
      "calculator clock"
      ". todo";
    }
  



/* Large and up (Desktops) */
@media (max-width: 992px) {
  .container{
    display:grid;
    grid-template-columns: 1fr 3fr 1fr;
    /* grid-template-rows: 30% 40% 30%; */
    grid-template-areas: 
    "header header header"
    "calculator . clock"
    ". . todo";
    padding: 0 40px;
  }

}

/* Extra Large and up (Wide Screen Desktops) */
@media (min-width: 1200px) {

}
