


nav {
    font-size: 20px;
    text-align: center;
}

a {
    padding: 40px;
}

header {
    background-color: bisque;
}

.container {
    position: relative;
    text-align: center;
    color: white;  
}

h1 {
    font-size: 70px;
    text-align: center;
    width: 100%;
}

p {
    font-size: 40px;
}

img {
    border: 2px black solid;
}

.styles {
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



  .row {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
  }







