section {
    display: flex;
    
}

article {
    width: 270px;
    height: 324px;
    background-color: lightblue;
}


img {
    width: 850px;
    height: 450px;
}

.middle {
    padding-left: 20px;
    padding-right: 20px;
}

main {
    justify-items: center;
    display: grid;
}

.container {
    position: relative;
    text-align: center;
    color: white;  
}

.nasa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 120px;
    font-family: fantasy;
}

p {
    margin: 7px;
}

.button {
    border: none;
    color: lightblue;
    background-color: darkblue;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}