header {
   background-image: url("../images/blueswirl.jpg");
   height: 120px;
   line-height: 120px;
    font-size: 80px;
    color:greenyellow;
    text-align: center;
    font-family: fantasy;
    padding: 20px;
}

main {
    background-color: rgb(158, 52, 52);
}

div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax (400px,700px);
    grid-template-areas: 
    "image . iframe"
    ". video ."
    ". . .";
    padding: 150px 20px;
                         
}

h1 a {
    color: orange;
    margin: 50px;
    padding-bottom: 10px;
   text-shadow: 1px 1px 10px black;
}

h1 { padding-top: 0px;
     margin: 0px;
    }

img {
    width: 100%;
    height: 300px;
    grid-area: image;
    border: 1px solid yellow;
}

video {
    grid-area: video;
    margin: auto;
    border: 1px solid yellow;
}

iframe {
    grid-area: iframe;
    border: 1px solid yellow;
}

/* Extra Small and up (Portrait Phones) */

/* Small and up (Landscape Phones) */
@media (min-width: 576px) {
   
}



/* Medium and up (Tablets) */
@media (min-width: 768px) {

}

/* Large and up (Desktops) */
@media (min-width: 992px) {

}

/* Extra Large and up (Wide Screen Desktops) */
@media (min-width: 1200px) {

}


  

